{% extends 'blog\base.html' %} 

{% block content %}
<h1>Home Page</h1>
{% if request.user.is_authenticated %}
<h2>Wellcome {{request.user}}!</h2>
{% else %}
<h2 id="welcome">Wellcome Guest!</h2>
{% endif %} 


<div class="row row-cols-1 row-cols-md-2 g-4">
{% for post in posts%}
<div class="col">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="media/{{post.post_image}}" width="150rem" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{post.post_title}}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="{% url 'detail_post' post.id %}" class="btn btn-primary">Detail</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{post.post_last_updated}}</small>
      <small class="text-muted">{{post.post_last_updated}}</small>
      <small class="text-muted">{{post.post_last_updated}}</small>
      
   
    </div>
  </div>
</div>

    
{% endfor %}
</div>


{{posts}}

{% endblock content %}