{% extends 'blog\base.html' %} 

{% block content %} 

{% load crispy_forms_tags %}

{% load bootstrap_icons %}

<h2><a href="#">{{post.post_title}} </a></h2>

<div class="row align-items-start">
  <div class="col-lg-12 m-15px-tb">
      <article class="article">
          <div class="article-img">
              <img src="media/{{post.post_image}}" width="150rem" alt="">
          </div>
          <div class="article-title">
              <div class="">
                  <div class="media-body">
                      <label>{{post.author}}</label>
                      <span>{{post.post_push_date}}</span>
                  </div>
              </div>
              <div class="">
                <div class="media-body">
                    <small class="text-muted"><span class="badge badge-primary">{% bs_icon 'chat' %} : {{post.post_comment_count}}</span></small>
                    <small class="text-muted"><span class="badge badge-primary">{% bs_icon 'eye' %} : {{post.post_view_count}} </span></small>
                    <small class="text-muted"><span class="badge badge-primary">{% bs_icon 'heart' %} : {{post.post_like_count}} </span></small>
                    <small class="text-muted"><span class="badge badge-primary">{% bs_icon 'calendar' %} : {{post.post_last_updated}}</span></small>
                </div>
                <div class="">
                    <div class="media-body">
                        <p>Enjoy this post? Give it a LIKE!</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="like_btn" id="like_btn" class="btn btn-primary btn-sm">{% bs_icon 'heart' %} : {{post.post_like_count}}</button>
                        </form>
                        
                      
                    </div>
            </div>
          </div>
          <div class="article-content">
              <p>{{post.post_content}}</p>
          </div>
      </article>
      <div class="container pt-2">
          <h4>Leave a comment below</h4>
          <form id="comment-form" method="POST">
            {% csrf_token %}
            {{form | crispy }}
            <div class="send">
            <button class="px-btn theme" type="submit" name="comment_btn" ><span>Send</span> <i class="arrow"></i></button>
            </div>
            </div>
          </form>
      </div>

      {% if user == post.author %}
      <div class="col-md-12 pt-3">
          <a class="btn btn-outline-primary d-inline" href="{% url 'delete_post' post.id %}">Delete</a>
          <a class="btn btn-outline-danger d-inline" href="{% url 'update_post' post.id %}">Update</a>
      </div>
  
      {% endif %} 

      {% if comments %}
      <div class="row align-items-start pt-3">
        <div class="col-lg-6 offset-lg-3">
          Comment {{post.post_comment_count}}
          <span class="badge badge-dark ml-2">{{post.post_comment_count}}</span>
        </div>
        {% for comment in comments %}
        <div class="col-lg-6 offset-lg-3 mt-2">
          <div class="card p-2">
            <div class="row">
              <div class="col-12">
                <strong>{{post.author}}</strong> said
              </div>
              <div class="col-12">
                <p class="m-1 mt-3">{{ comment.comment_content }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

  </div>
{% endblock content %}