*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;

}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.calc-container{
    flex-direction: column;
    background: black;
    color: beige;
    width: 500px;
    border-radius: 50px;
    padding: 20px;
    border: solid;
    
}
.pre-display{
    opacity: 0.5;
    height: 60px;
    text-align: right;
    padding-right: 1em;
    font-size: 30px;
    
}

.current-display{
    opacity: 0.5;
    height: 120px;
    text-align: right;
    font-size: 60px;
    padding-right: 0.5em;
}
.buttons-container{
   display: grid;
   grid-gap:10px;
   grid-template-columns: repeat(4,100px);
   grid-template-rows: repeat(5,100px);
   margin-top: 40px;

}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 100px;
    width: 100px;
    transition: filter 0.3s;

}
.btn.Proces2{
    color: black;
    background: #a5a5a5;
    
}
.btn.Proces1{
    background-color:#f1a33c;
    
}

.Button:hover{
    background-color:rgba(71, 58, 58, 0.336)
}
.Proces1:hover{
    background-color:rgba(255, 127, 80, 0.459)

}
.Proces2:hover{
    background-color:rgba(169, 169, 169, 0.432)

}
.btn.Zero{
    border-radius: 55px;
    grid-column: 1/ span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 215px;
}