*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calc-container{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 50px 50px 50px 50px; */
    background: black;
    color: beige;
    align-items: center;
    height: 840px;
    width: 500px;
    border:  1px solid;
    padding: 20px;
    
}
.calc-display{
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 2px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.pre-display{
    opacity: 0.5;
    font-size: 30px;
    overflow: hidden;
}
.buttons-container{
   display: grid;
   grid-gap:10px;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(5,1fr);

}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 100px;
    width: 100px;
    transition: filter 0.3s;

}
.btn.Proces2{
    color: black;
    background: #a5a5a5;
    
}
.btn.Proces1{
    background-color:#f1a33c;
    
}

.Button:hover{
    background-color:rgba(71, 58, 58, 0.336)
}
.Proces1:hover{
    background-color:rgba(255, 127, 80, 0.459)

}
.Proces2:hover{
    background-color:rgba(169, 169, 169, 0.432)

}
.btn.Zero{
    border-radius: 55px;
    grid-column: 1/ span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 215px;
}